<form class="questionnaire-form" id="js-questionnaire-main" action="" method="POST" data-nodeid="13571" novalidate="" ng-controller="QuestionnaireCtrl">
	<h1>{{data.questionNumber}}</h1>
	<ol class="questionnaire-stage-listing list-stacked">
		<li class="questionnaire-stage js-questionnaire-stage" ng-show="data.isStageShown(1)">
		<fieldset>
			<legend class="visuallyhidden">What's putting your business in a great position to grow internationally?</legend>
			<div class="questionnaire-stage-heading">
				<strong class="questionnaire-stage-placement">1</strong>
				<h2 class="questionnaire-stage-name js-questionnaire-stage-name">What's putting your business in a great position to grow internationally?</h2>
			</div>
			<ol class="questionnaire-section-listing list-stacked">
				<li class="questionnaire-section js-questionnaire-section js-questionnaire-step" data-step="1a" ng-show="data.isStepShown('1a')">
				<fieldset class="questionnaire-content">
					<legend class="visuallyhidden">Competitive advantage</legend>
					<h3 class="questionnaire-content-title js-questionnaire-section-heading">Competitive advantage</h3>
					<p>
					<strong></strong></p><p><strong>Do you have a clearly defined selling proposition for your product or service? Can you list the key competitive advantages (that can be verified) you have over your competition?</strong></p>

					<div class="questionnaire-toggle">

						<ul class="questionnaire-toggle-list fieldset-listing field-toggle list-stacked js-questionnaire-question-list">

							<li>
							<input id="questionnaire-section-1a-1" class="questionnaire-toggle-checkbox visuallyhidden  js-input-toggle " type="radio" name="questionnaire-section-1">
							<label for="questionnaire-section-1a-1" class="btn-large btn-large-full questionnaire-toggle-label label  js-input-toggle-btn">No proposition</label>
							<div class="questionnaire-toggle-content  js-questionnaire-toggle-content">
								<div class="questionnaire-content-inner">

									<div class="js-questionnaire-response-blurb">
										<p>Sounds like you need to do a bit more work. Here are some suggested links to areas that could help you.</p>
									</div>
									<ul class="list-stacked js-questionnaire-section-link-helpers">
										<li>
										<a href="http://www.nzte.govt.nz/en/export/preparing-to-export/3-prepare-your-marketing-and-sales/planning-your-business-pitch/" target="_blank" rel="external">Planning your business pitch</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/en/export/preparing-to-export/4-prepare-your-strategy/sources-of-information-on-competitors/" target="_blank" rel="external">Sources of information on competitors</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/en/export/preparing-to-export/4-prepare-your-strategy/understanding-your-competitors/" target="_blank" rel="external">Understanding your competitors</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/media/632354/competitor-assessment-template.pdf" target="_blank" rel="external">Competitor assessment template</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/en/export/preparing-to-export/5-prepare-for-your-international-markets/identify-your-target-market/" target="_blank" rel="external">Identify your target market</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/media/632411/research-a-market-in-depth-template.pdf" target="_blank" rel="external">Research a market in-depth template</a>
										</li>
									</ul>
								</div>
							</div>
							</li>
							<li>
							<input id="questionnaire-section-1a-2" class="questionnaire-toggle-checkbox visuallyhidden  js-input-toggle " type="radio" name="questionnaire-section-1">
							<label for="questionnaire-section-1a-2" class="btn-large btn-large-full questionnaire-toggle-label label  js-input-toggle-btn">Some idea</label>
							<div class="questionnaire-toggle-content  js-questionnaire-toggle-content">
								<div class="questionnaire-content-inner">

									<div class="js-questionnaire-response-blurb">
										<p>Sounds like you need to do a bit more work. Here are some suggested links to areas that could help you.</p>
									</div>
									<ul class="list-stacked js-questionnaire-section-link-helpers">
										<li>
										<a href="http://www.nzte.govt.nz/en/export/preparing-to-export/3-prepare-your-marketing-and-sales/planning-your-business-pitch/" target="_blank" rel="external">Planning your business pitch</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/en/export/preparing-to-export/4-prepare-your-strategy/sources-of-information-on-competitors/" target="_blank" rel="external">Sources of information on competitors</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/en/export/preparing-to-export/4-prepare-your-strategy/understanding-your-competitors/" target="_blank" rel="external">Understanding your competitors</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/media/632354/competitor-assessment-template.pdf" target="_blank" rel="external">Competitor assessment template</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/en/export/preparing-to-export/5-prepare-for-your-international-markets/identify-your-target-market/" target="_blank" rel="external">Identify your target market</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/media/632411/research-a-market-in-depth-template.pdf" target="_blank" rel="external">Research a market in-depth template</a>
										</li>
									</ul>
								</div>
							</div>
							</li>
							<li>
							<input id="questionnaire-section-1a-3" class="questionnaire-toggle-checkbox visuallyhidden  js-input-toggle is-green" type="radio" name="questionnaire-section-1">
							<label for="questionnaire-section-1a-3" class="btn-large btn-large-full questionnaire-toggle-label label  js-input-toggle-btn">Clear proposition</label>
							<div class="questionnaire-toggle-content  js-questionnaire-toggle-content">
								<div class="questionnaire-content-inner">

									<div class="js-questionnaire-response-blurb">
										<p><span>Sounds like you’re sorted. Here are some additional links you may find useful.</span></p>
									</div>
									<ul class="list-stacked js-questionnaire-section-link-helpers">
										<li>
										<a href="http://www.nzte.govt.nz/en/export/growing-your-exports/5-growing-your-international-markets/visiting-your-market/" target="_blank" rel="external">Visiting your market</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/en/export/growing-your-exports/3-growing-your-marketing-and-sales/delivering-your-pitch/" target="_blank" rel="external">Delivering your pitch</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/en/export/growing-your-exports/5-growing-your-international-markets/following-up/" target="_blank" rel="external">Following up</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/en/export/growing-your-exports/5-growing-your-international-markets/understanding-differences-in-culture/" target="_blank" rel="external">Understanding differences in culture</a>
										</li>
									</ul>
								</div>
							</div>
							</li>
						</ul>
						<div class="questionnaire-toggle-answer js-questionnaire-toggle-answer"></div>
					</div>
				</fieldset>
				</li>
				<li class="questionnaire-section js-questionnaire-section js-questionnaire-step" data-step="1b" ng-show="data.isStepShown('1b')">
				<fieldset class="questionnaire-content">
					<legend class="visuallyhidden">Market validation</legend>
					<h3 class="questionnaire-content-title js-questionnaire-section-heading">Market validation</h3>
					<p>
					<strong></strong></p><p><strong>Do you have good information (including financial analysis) on potential customers, customer needs, size of market (volume and revenue) and costs of servicing that market from New Zealand?</strong></p>

					<div class="questionnaire-toggle">

						<ul class="questionnaire-toggle-list fieldset-listing field-toggle list-stacked js-questionnaire-question-list">

							<li>
							<input id="questionnaire-section-1b-1" class="questionnaire-toggle-checkbox visuallyhidden  js-input-toggle " type="radio" name="questionnaire-section-1">
							<label for="questionnaire-section-1b-1" class="btn-large btn-large-full questionnaire-toggle-label label  js-input-toggle-btn">No information</label>
							<div class="questionnaire-toggle-content  js-questionnaire-toggle-content">
								<div class="questionnaire-content-inner">

									<div class="js-questionnaire-response-blurb">
										<p>Sounds like you need to do a bit more work. Here are some suggested links to areas that could help you.</p>
									</div>
									<ul class="list-stacked js-questionnaire-section-link-helpers">
										<li>
										<a href="http://www.nzte.govt.nz/en/export/thinking-about-exporting/5-thinking-about-your-international-markets/choosing-an-export-market/" target="_blank" rel="external">Choosing an export market</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/en/export/thinking-about-exporting/5-thinking-about-your-international-markets/how-to-research-a-market/" target="_blank" rel="external">How to research a market</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/media/632402/gathering-market-information-template.pdf" target="_blank" rel="external">Gathering market information template</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/media/632411/research-a-market-in-depth-template.pdf" target="_blank" rel="external">Research a market in depth template</a>
										</li>
									</ul>
								</div>
							</div>
							</li>
							<li>
							<input id="questionnaire-section-1b-2" class="questionnaire-toggle-checkbox visuallyhidden  js-input-toggle " type="radio" name="questionnaire-section-1">
							<label for="questionnaire-section-1b-2" class="btn-large btn-large-full questionnaire-toggle-label label  js-input-toggle-btn">Some information</label>
							<div class="questionnaire-toggle-content  js-questionnaire-toggle-content">
								<div class="questionnaire-content-inner">

									<div class="js-questionnaire-response-blurb">
										<p>Sounds like you need to do a bit more work. Here are some suggested links to areas that could help you.</p>
									</div>
									<ul class="list-stacked js-questionnaire-section-link-helpers">
										<li>
										<a href="http://www.nzte.govt.nz/en/export/thinking-about-exporting/5-thinking-about-your-international-markets/how-to-research-a-market/" target="_blank" rel="external">How to research a market</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/en/export/preparing-to-export/5-prepare-for-your-international-markets/identify-your-target-market/" target="_blank" rel="external">Identify your target market</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/en/export/preparing-to-export/5-prepare-for-your-international-markets/standards-and-regulations-in-other-countries/" target="_blank" rel="external">Standards and regulations in other countries</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/en/export/preparing-to-export/5-prepare-for-your-international-markets/international-agreements-treaties-and-conventions/" target="_blank" rel="external">International agreements, treaties and conventions</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/en/export/preparing-to-export/5-prepare-for-your-international-markets/httpwwwnztegovtnzattending-trade-shows-and-promotions/" target="_blank" rel="external">Attending trade shows and promotions</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/media/632402/gathering-market-information-template.pdf" target="_blank" rel="external">Gathering market information template</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/media/324735/stand-out-guide-to-trade-shows-2012.pdf" target="_blank" rel="external">Stand Out - a guide to attending trade shows</a>
										</li>
									</ul>
								</div>
							</div>
							</li>
							<li>
							<input id="questionnaire-section-1b-3" class="questionnaire-toggle-checkbox visuallyhidden  js-input-toggle is-green" type="radio" name="questionnaire-section-1">
							<label for="questionnaire-section-1b-3" class="btn-large btn-large-full questionnaire-toggle-label label  js-input-toggle-btn">In-depth information</label>
							<div class="questionnaire-toggle-content  js-questionnaire-toggle-content">
								<div class="questionnaire-content-inner">

									<div class="js-questionnaire-response-blurb">
										<p><span>Sounds like you’re sorted. Here are some additional links you may find useful.</span></p>
									</div>
									<ul class="list-stacked js-questionnaire-section-link-helpers">
										<li>
										<a href="http://www.nzte.govt.nz/en/export/preparing-to-export/5-prepare-for-your-international-markets/httpwwwnztegovtnzattending-trade-shows-and-promotions/" target="_blank" rel="external">Attending trade shows and promotions</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/media/324735/stand-out-guide-to-trade-shows-2012.pdf" target="_blank" rel="external">Stand Out - a guide to attending trade shows</a>
										</li>
									</ul>
								</div>
							</div>
							</li>
						</ul>
						<div class="questionnaire-toggle-answer js-questionnaire-toggle-answer"></div>
					</div>
				</fieldset>
				</li>
			</ol>
		</fieldset>
		</li>
		<li class="questionnaire-stage js-questionnaire-stage" ng-show="data.isStageShown(2)">
		<fieldset>
			<legend class="visuallyhidden">International growth - ambition &amp; potential</legend>
			<div class="questionnaire-stage-heading">
				<strong class="questionnaire-stage-placement">2</strong>
				<h2 class="questionnaire-stage-name js-questionnaire-stage-name">International growth - ambition &amp; potential</h2>
			</div>
			<ol class="questionnaire-section-listing list-stacked">
				<li class="questionnaire-section js-questionnaire-section js-questionnaire-step" data-step="2" ng-show="data.isStepShown(2)">
				<fieldset class="questionnaire-content">
					<legend class="visuallyhidden">Your financial data</legend>
					<h3 class="questionnaire-content-title js-questionnaire-section-heading">Your financial data</h3>
					<p>
					<strong></strong></p><p><strong>Are you open to giving us access to financials, business plans and senior management?</strong></p>
					<p>Please remember that any information you provide here will be kept confidential within NZTE.</p>

					<div class="questionnaire-toggle">

						<ul class="questionnaire-toggle-list-half fieldset-listing field-toggle list-stacked js-questionnaire-question-list">

							<li>
							<input id="questionnaire-section-2-1" class="questionnaire-toggle-checkbox visuallyhidden  js-input-toggle " type="radio" name="questionnaire-section-1">
							<label for="questionnaire-section-2-1" class="btn-large btn-large-full questionnaire-toggle-label label  js-input-toggle-btn">Not really</label>
							<div class="questionnaire-toggle-content  js-questionnaire-toggle-content">
								<div class="questionnaire-content-inner">
									<p>That's fine, we can still help you. Please call us on 0800 555 888. You might also like to contact one of your local <a href="https://www.nzte.govt.nz/en/how-nzte-can-help/programmes-and-services/regional-business-partners/" target="_blank" title="Regional Business Partners">regional business partners</a>.</p>
									<p>&nbsp;</p>
									<div class="js-questionnaire-response-blurb">
										<p>No financial projections? Here are some links to help you with your financial planning.</p>
									</div>
									<ul class="list-stacked js-questionnaire-section-link-helpers">
										<li>
										<a href="http://www.nzte.govt.nz/en/export/thinking-about-exporting/2-thinking-about-your-export-finance/can-you-make-any-money/" target="_blank" rel="external">Can you make any money?</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/en/export/preparing-to-export/2-prepare-your-export-finance/planning-for-capital/" target="_blank" rel="external">Planning for capital</a>
										</li>
									</ul>
								</div>
							</div>
							</li>
							<li>
							<input id="questionnaire-section-2-2" class="questionnaire-toggle-checkbox visuallyhidden  js-input-toggle " type="radio" name="questionnaire-section-1">
							<label for="questionnaire-section-2-2" class="btn-large btn-large-full questionnaire-toggle-label label  js-input-toggle-btn">Yes, definitely</label>
							<div class="questionnaire-toggle-content  js-questionnaire-toggle-content">
								<div class="questionnaire-content-inner">
									<p>So you're happy to&nbsp;share with us. That's great. We just need a little more detail about your business.</p>
									<p><strong>Please enter your financial data here, so that we can assess your current performance and potential for international growth.</strong></p>
									<p class="hotel"><strong>Please note: Values can only contain digits e.g. 10000</strong></p>
									<div class="listing-financial js-financial">
										<ul class="listing-financial-listing list-stacked clearfix">
											<li>
											<strong class="listing-financial-title js-financial-title">Current</strong>
											<ul class="listing-financial-group list-stacked js-financial-group">
												<li class="clearfix">
												<label class="listing-financial-label js-financial-label">Total Sales Revenue ($)</label>
												<div class="listing-financial-amount">
													<input class="listing-financial-amount-input js-financial-input" type="number" pattern="^\d*$">
												</div>
												</li>
												<li class="clearfix">
												<label class="listing-financial-label js-financial-label">Total International Sales Revenue ($)</label>
												<div class="listing-financial-amount">
													<input class="listing-financial-amount-input js-financial-input" type="number" pattern="^\d*$">
												</div>
												</li>
											</ul>
											</li>
											<li>
											<strong class="listing-financial-title js-financial-title">Next Year</strong>
											<ul class="listing-financial-group list-stacked js-financial-group">
												<li class="clearfix">
												<label class="listing-financial-label js-financial-label">Total Sales Revenue ($)</label>
												<div class="listing-financial-amount">
													<input class="listing-financial-amount-input js-financial-input" type="number" pattern="^\d*$">
												</div>
												</li>
												<li class="clearfix">
												<label class="listing-financial-label js-financial-label">Total International Sales Revenue ($)</label>
												<div class="listing-financial-amount">
													<input class="listing-financial-amount-input js-financial-input" type="number" pattern="^\d*$">
												</div>
												</li>
											</ul>
											</li>
											<li>
											<strong class="listing-financial-title js-financial-title">Year 2</strong>
											<ul class="listing-financial-group list-stacked js-financial-group">
												<li class="clearfix">
												<label class="listing-financial-label js-financial-label">Total Sales Revenue ($)</label>
												<div class="listing-financial-amount">
													<input class="listing-financial-amount-input js-financial-input" type="number" pattern="^\d*$">
												</div>
												</li>
												<li class="clearfix">
												<label class="listing-financial-label js-financial-label">Total International Sales Revenue ($)</label>
												<div class="listing-financial-amount">
													<input class="listing-financial-amount-input js-financial-input" type="number" pattern="^\d*$">
												</div>
												</li>
											</ul>
											</li>
											<li>
											<strong class="listing-financial-title js-financial-title">Year 3</strong>
											<ul class="listing-financial-group list-stacked js-financial-group">
												<li class="clearfix">
												<label class="listing-financial-label js-financial-label">Total Sales Revenue ($)</label>
												<div class="listing-financial-amount">
													<input class="listing-financial-amount-input js-financial-input" type="number" pattern="^\d*$">
												</div>
												</li>
												<li class="clearfix">
												<label class="listing-financial-label js-financial-label">Total International Sales Revenue ($)</label>
												<div class="listing-financial-amount">
													<input class="listing-financial-amount-input js-financial-input" type="number" pattern="^\d*$">
												</div>
												</li>
											</ul>
											</li>
										</ul>
									</div>

									<div class="js-questionnaire-response-blurb">
										<p>No financial projections? Here are some links to help you with your financial planning.</p>
									</div>
									<ul class="list-stacked js-questionnaire-section-link-helpers">
										<li>
										<a href="http://www.nzte.govt.nz/en/export/thinking-about-exporting/2-thinking-about-your-export-finance/can-you-make-any-money/" target="_blank" rel="external">Can you make any money?</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/en/export/preparing-to-export/2-prepare-your-export-finance/planning-for-capital/" target="_blank" rel="external">Planning for capital</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/en/export/thinking-about-exporting/2-thinking-about-your-export-finance/make-sure-you-have-finance/" target="_blank" rel="external">Cashflow considerations</a>
										</li>
										<li>
										<a href="http://www.nzte.govt.nz/media/352395/planning-for-success.pdf" target="_blank" rel="external"></a>
										</li>
									</ul>
								</div>
							</div>
							</li>
						</ul>
						<div class="questionnaire-toggle-answer js-questionnaire-toggle-answer"></div>
					</div>
				</fieldset>
				</li>
			</ol>
		</fieldset>
		</li>

		<li class="questionnaire-stage js-questionnaire-stage" ng-show="data.isStageShown(3)">
		<fieldset>
			<legend class="visuallyhidden">Would you like to be contacted by one of our customer team?</legend>
			<div class="questionnaire-stage-heading">
				<strong class="questionnaire-stage-placement">3</strong>
				<h2 class="questionnaire-stage-name js-questionnaire-stage-name">Would you like to be contacted by one of our customer team?</h2>
			</div>
			<ol class="questionnaire-section-listing list-stacked">
				<li class="questionnaire-section js-questionnaire-section js-questionnaire-step" data-step="3" ng-show="data.isStepShown(3)">
				<div class="questionnaire-content">
					<fieldset>
						<legend class="visuallyhidden">Your details</legend>
						<p></p><p>Finally, we’d like to contact you to see where we can help. If you wish to save and export your answers then please fill out the details below and we will send you (and our customer team) a copy when you finish the questionnaire</p><p></p>

						<div class="questionnaire-toggle">
							<ul class="questionnaire-toggle-list-half fieldset-listing field-toggle list-stacked js-questionnaire-question-list">
								<li>
								<input id="questionnaire-section-3-1" class="questionnaire-toggle-checkbox visuallyhidden js-input-toggle" type="radio" name="questionnaire-section-1">
								<label for="questionnaire-section-3-1" class="btn-large btn-large-full questionnaire-toggle-label label js-input-toggle-btn">Not really</label>
								<div class="questionnaire-toggle-content js-questionnaire-toggle-content">
									<div class="questionnaire-content-inner">
										<p>That's fine, remember you can return at any time in the future</p>         
									</div>
								</div>
								</li>
								<li>
								<input id="questionnaire-section-3-2" class="questionnaire-toggle-checkbox visuallyhidden js-input-toggle is-green" type="radio" name="questionnaire-section-1">
								<label for="questionnaire-section-3-2" class="btn-large btn-large-full questionnaire-toggle-label label js-input-toggle-btn">Yes, definitely</label>

								<div class="questionnaire-toggle-content js-questionnaire-toggle-content">
									<div class="questionnaire-content-inner js-questionnaire-form">
										<ul class="fieldset-listing list-stacked">
											<li class="float-right no-clear">
											<p class="form-mandatory uppercase">Mandatory</p>	
											</li>
											<li class="field-stacked">
											<label class="label form-mandatory" for="questionnaire-stage-3-1">First name</label>
											<input class="input" id="questionnaire-stage-3-1" type="text" required="" data-input="FirstName">
											<div class="input-error-container js-error is-hidden">
												<span class="input-error">Must a valid first name</span>
											</div>
											</li>
											<li class="field-stacked">
											<label class="label form-mandatory" for="questionnaire-stage-3-2">Last name</label>
											<input class="input" id="questionnaire-stage-3-2" type="text" required="" data-input="LastName">
											<div class="input-error-container js-error is-hidden">
												<span class="input-error">Must be a valid last name</span>
											</div>
											</li>
											<li class="field-stacked">
											<label class="label" for="questionnaire-stage-3-3">
												Job title
											</label>
											<input class="input" id="questionnaire-stage-3-3" type="text" data-input="JobTitle">
											</li>
											<li class="field-stacked">
											<label class="label form-mandatory" for="questionnaire-stage-3-3">
												Company name
											</label>
											<input class="input" id="questionnaire-stage-3-3" type="text" data-input="CompanyName" required="">
											<div class="input-error-container js-error is-hidden">
												<span class="input-error">Must be a valid company name</span>
											</div>
											</li>
											<li class="field-stacked">
											<label class="label form-mandatory" for="questionnaire-stage-3-3">
												Email
												<small class="label-note">The summary of this questionnaire will be emailed to this address</small>
											</label>
											<input class="input has-pattern" id="questionnaire-stage-3-3" type="email" required="" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,6}|[0-9]{1,3})(\]?)$" data-input="Email">
											<div class="input-error-container js-error is-hidden">
												<span class="input-error">Must be a valid email address</span>
											</div>
											</li>
											<li class="field-stacked">
											<label class="label form-mandatory" for="questionnaire-stage-3-3">
												Phone number
											</label>
											<input class="input has-pattern" id="questionnaire-stage-3-3" type="tel" required="" pattern="^\d{1,9}$" data-input="PhoneNumber">
											<div class="input-error-container js-error is-hidden">
												<span class="input-error">Must be a valid phone number i.e. Max 9 digits and no spaces</span>
											</div>
											</li>
											<li class="field-stacked">
											<label class="label" for="questionnaire-stage-3-3">
												Company website
											</label>
											<input class="input" id="questionnaire-stage-3-3" type="url" data-input="CompanyWebsite">
											</li>
											<li class="field-stacked">
											<label class="label" for="questionnaire-stage-3-3">
												Feedback
												<small class="label-note">Please share your thoughts on this questionnaire</small>
											</label>
											<textarea rows="10" class="input" id="questionnaire-stage-3-3" type="text" data-input="Feedback"></textarea>
											</li>
											<li class="float-left field-check">
											<input class="input" id="questionnaire-stage-3-4-2" type="checkbox" name="questionnaire-stage-3-4" data-input="SignUpForNewsletter">
											<label class="label" for="questionnaire-stage-3-4-2">
												Sign me up to receive Export News
												<small class="label-note display-block">Export news is our fortnighly email newsletter giving you insights and news from the international markets</small>
											</label>

											</li>

										</ul>
									</div>
								</div>
								</li>
							</ul>
							<div class="questionnaire-toggle-answer js-questionnaire-toggle-answer"></div>
						</div>
					</fieldset>
				</div>
				</li>
			</ol>
		</fieldset>
		</li>
	</ol>

	<ul class="questionnaire-pagination list-inline" id="js-questionnaire-controls">
		<li>
		<a class="questionnaire-pagination-back is-unlocked js-previous" href="https://www.nzte.govt.nz/en/export/export-ready-questionnaire/#">
			<span class="questionnaire-pagination-icon icof-arrowleft" aria-hidden="true"></span><span class="js-btn-text">&nbsp;</span>
		</a>
		</li>
		<li>
		<a class="questionnaire-pagination-next one-half js-next" href="https://www.nzte.govt.nz/en/export/export-ready-questionnaire/#">
			<span class="js-btn-text">Next</span><span class="questionnaire-pagination-icon icof-arrowright" aria-hidden="true"></span>
		</a>
		</li>
	</ul>
</form>

