<div class="questionnaire-summary" data-status-ready-text="Sounds like you’re sorted. Well done! Here are some additional links you may find useful." data-status-not-ready-text="Sounds like you need to do a bit more work. Here are some suggested links to areas that could help you." id="js-questionnaire-end">
	<div class="questionnaire-summary-heading">
		<h2 class="questionnaire-status-heading-name print-only">Export-ready Questionnaire</h2>
		<h2 class="questionnaire-summary-heading-name">Summary</h2>
	</div>
	<div class="questionnaire-content">
		<a href="" class="icof-container questionnaire-print js-print">
			<span class="tools-header foxtrot">Print:</span>
			<span class="icof-print icof-light" aria-hidden="true"></span>
		</a>
		<div class="questionnaire-content-inner js-summary-content">
			<h2>Your Export Readiness Status</h2>
			<ol class="questionnaire-summary-listing list-stacked js-summary">

			</ol>
		</div>
	</div>
</div>

